/* CSS de Proyecto */

header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #ced8e0;
}
header h1{
    font-size: 2.5rem;
    margin-left: .75rem;
    margin-right: 3rem;
}

header img{
    height: 4.5rem;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-inline: 3rem;
    display: flex;
}

header nav ul li a{
    color: black;
}

header nav ul li a:hover{
    color: #6558f5;
    font-weight: bold;
}

.galeria{
    display: flex;
    margin-left: .75rem;
    background-color: #f3f5f7;
}

#galeria-1 .card{
    margin: .75rem;
    border: 2px solid black;
    background-color: #f3f5f7;
}

#galeria-2 .card{
    margin: .75rem;
    border: 2px solid black;
    background-color: #f3f5f7;
}

.card img{
    height: 10rem;
    width: 10rem;
}

#nosotros{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #ced8e0;
    font-size: medium;
    text-align: center;
}

#servicios div{
    display: inline-block;
}

#servicios div ul{
    list-style: none;
}

#servicios div ul li a{
    text-decoration: none;
    color: black;
}