/* CSS de Proyecto */

#favoritos .titulo{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-inline: 10rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

#favoritos .subtitulo{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: x-large;
}

.carousel-item img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
