#nosotros{
    margin-top: 3rem;
    border-top: 2px solid $color-bordes;
    border-bottom: 2px solid $color-bordes;
    background-color: $color-primario;
    font-size: medium;
    text-align: center;
}