#horarios{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 1rem;
    margin-inline: 10rem;
    ul{
        padding-left: 5rem;
        list-style: none;
        li{
            margin: 1rem;
        }
    }
}