#categorias{
    .card{
        margin: 1rem;
        img{
        height: 10rem;
        width: 10rem;
        margin-inline: auto;
        }
        h5{
            text-align: center;
        }
    .card-body{
        justify-content: center;
    }
}
}