#galeria{
    margin-top: 3rem;
    .card{
        margin: 1rem;
        img{
        height: 10rem;
        width: 10rem;
        margin-inline: auto;
        }
    .card-body{
        justify-content: center;
    }
}
}